<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

</head>

<body>
    <div id="mapa" style="position: absolute; left:0px; top: 0px; height: 100%; width: 60%;">
        <agm-map style="height: 100%;" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="startLat" [longitude]="startLon"></agm-marker>
            <agm-marker [latitude]="endLat" [longitude]="endLon"></agm-marker>
        </agm-map>
    </div>
    <div id="lateralMenu" style="position: absolute; right:0px; top: 0px; background-color:#313131; height: 100%; width: 40%; overflow-y:scroll;">
        <button [hidden]="true" (click)="this.getCosas()">Get</button>
        <div>
            <table>
                <td>
                    <tr>From:</tr>
                    <tr>To:</tr>
                </td>
                <td>
                    <tr>{{this.from}}</tr>
                    <tr>{{this.to}}</tr>
                </td>
            </table>
        </div>
        <!--Driving-->
        <div *ngIf="this.selectedMode==='driving'">
            <table>
                <thead>Driving</thead>
                <tr>
                    <td>Distance</td>
                    <td>{{this.driving.distance}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{this.driving.time}}</td>
                </tr>
                <tr>
                    <td>Warnings</td>
                    <td>{{this.driving.warnings}}</td>
                </tr>
                <tr>
                    <td>CO2 Footprint</td>
                    <td>{{this.driving.co2_trip}} kg CO2</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{this.driving.price}} €</td>
                </tr>
                <tr>
                    <td>Pollution Index</td>
                    <td>{{this.driving.pollution_index}}</td>
                </tr>
                <tr>
                    <td>Temperature</td>
                    <td>{{this.driving.temperature}} <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td>Precipitation Percentage</td>
                    <td>{{this.driving.precipitation_percentage}} %</td>
                </tr>
                <tr>
                    <td>Precipitation Intensity</td>
                    <td>{{this.driving.precipitation_intensity}} mm/h</td>
                </tr>
            </table>
        </div>

        <!--Bicycling-->
        <div *ngIf="this.selectedMode==='bicycling'">
            <table>
                <thead>Bicycling</thead>
                <tr>
                    <td>Distance</td>
                    <td>{{this.bicycling.distance}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{this.bicycling.time}}</td>
                </tr>
                <tr>
                    <td>Warnings</td>
                    <td>{{this.bicycling.warnings}}</td>
                </tr>
                <tr>
                    <td>CO2 Footprint</td>
                    <td>{{this.bicycling.co2_trip}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{this.bicycling.price}} €</td>
                </tr>
                <tr>
                    <td>CO2 Car Trip</td>
                    <td>{{this.bicycling.co2_trip_car}} kg CO2</td>
                </tr>
                <tr>
                    <td>Petrol Car Price</td>
                    <td>{{this.bicycling.petrol_car_price}} €/td>
                </tr>
                <tr>
                    <td>Pollution Index</td>
                    <td>{{this.bicycling.pollution_index}}</td>
                </tr>
                <tr>
                    <td>Temperature</td>
                    <td>{{this.bicycling.temperature}} <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td>Precipitation Percentage</td>
                    <td>{{this.bicycling.precipitation_percentage}} %</td>
                </tr>
                <tr>
                    <td>Precipitation Intensity</td>
                    <td>{{this.bicycling.precipitation_intensity}} mm/h</td>
                </tr>
            </table>
        </div>

        <!--Walking-->
        <div *ngIf="this.selectedMode==='walking'">
            <table>
                <thead>Walking</thead>
                <tr>
                    <td>Distance</td>
                    <td>{{this.walking.distance}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{this.walking.time}}</td>
                </tr>
                <tr>
                    <td>Warnings</td>
                    <td>{{this.walking.warnings}}</td>
                </tr>
                <tr>
                    <td>CO2 Footprint</td>
                    <td>{{this.walking.co2_trip}} kg CO2</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{this.walking.price}} €</td>
                </tr>
                <tr>
                    <td>CO2 Car Trip</td>
                    <td>{{this.walking.co2_trip_car}} kg CO2</td>
                </tr>
                <tr>
                    <td>Petrol Car Price</td>
                    <td>{{this.walking.petrol_car_price}} €</td>
                </tr>
                <tr>
                    <td>Pollution Index</td>
                    <td>{{this.walking.pollution_index}}</td>
                </tr>
                <tr>
                    <td>Temperature</td>
                    <td>{{this.walking.temperature}} <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td>Precipitation Percentage</td>
                    <td>{{this.walking.precipitation_percentage}} %</td>
                </tr>
                <tr>
                    <td>Precipitation Intensity</td>
                    <td>{{this.walking.precipitation_intensity}} mm/h</td>
                </tr>
            </table>
        </div>

        <!--Public Transport-->
        <div *ngIf="this.selectedMode==='transit'">
            <table>
                <thead>Transit</thead>
                <tr>
                    <td>Distance</td>
                    <td>{{this.transit.distance}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{this.transit.time}}</td>
                </tr>
                <tr>
                    <td>Warnings</td>
                    <td>{{this.transit.warnings}}</td>
                </tr>
                <tr>
                    <td>CO2 Footprint</td>
                    <td>{{this.transit.co2_trip}} kg CO2</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{this.transit.price}} €</td>
                </tr>
                <tr>
                    <td>CO2 Car Trip</td>
                    <td>{{this.transit.co2_trip_car}} kg CO2</td>
                </tr>
                <tr>
                    <td>Petrol Car Price</td>
                    <td>{{this.transit.petrol_car_price}} €</td>
                </tr>
                <tr>
                    <td>Pollution Index</td>
                    <td>{{this.transit.pollution_index}}</td>
                </tr>
                <tr>
                    <td>Temperature</td>
                    <td>{{this.transit.temperature}} <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td>Precipitation Percentage</td>
                    <td>{{this.transit.precipitation_percentage}} %</td>
                </tr>
                <tr>
                    <td>Precipitation Intensity</td>
                    <td>{{this.transit.precipitation_intensity}} mm/h</td>
                </tr>
            </table>
        </div>
    </div>


    <div style="position: absolute; right: 35%; top:1em; font-size: 20px; height: 2em; width: 25em;  ">
        <button style="margin-right: 3em; " (click)="this.selectMode('driving')">Car</button>
        <button style="margin-right: 3em" (click)="this.selectMode('bicycling')">Bike</button>
        <button style="margin-right: 3em" (click)="this.selectMode('walking')">Walking</button>
        <button style="margin-right: 3em" (click)="this.selectMode('transit')">Public Transport</button>
    </div>

</body>

</html>