<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container" style="background-color: #313131; padding: 30; margin: 0 auto; width: 25em; margin-top: 5em;">
        <h1 style="margin:20px; text-align: center;">Find the best route</h1>
        <table style="margin-left: 10px; padding: 10px; ">
            <tr class="form-group" style="margin:10px;">
                <td><label for="origin">From: </label></td>
                <td><input type="text" class="form-control" id="origin" required></td>
            </tr>

            <tr class="form-group" style="margin:10px;">
                <td><label for="destination">To: </label></td>
                <td><input type="text" class="form-control" id="destination"></td>
            </tr>

            <tr>
                <td><label for="date">Choose a date</label></td>
                <td><input type="date" id="date"></td>
            </tr>
            <tr>
                <td><input style="text-align: right;" type="checkbox" id="disability"></td>
                <td><label for="disability">I am a person with reduced mobility</label></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="ecar"></td>
                <td><label for="ecar">I own an electric car</label></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="taxi"></td>
                <td><label for="taxi">I would like to add taxi as an option</label></td>
            </tr>
        </table>
        <a routerLink="/map"><button style="margin-top: 3em; margin-bottom: 2em;  margin-left: 20em;" type="submit" class="btn btn-success">Submit</button></a>


    </div>

</body>

</html>